.logo_kontakt{
width: 290px;
}
.open_adress{
color: white;
}
#kontakt_container{
display: flex;
justify-content: space-between;
align-items: center;
section{
    height: 300px;
width: 27%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
hr{
    height: 1px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 10px 8px -1px white inset;

}

}
@media(max-width: 768px){
    #kontakt_container{
    flex-direction: column;
    section{
height: 173px;
width: 100%;
    }
    }

    }